            <div class="top_ban_wrap">
                <div class="top_ban introban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>평등한 노동과 더 나은 소비를 생각합니다</span>
                        </strong>    
                        <p>
                            <span>오시는길</span>
                        </p>        
                    </div>
                </div>
            </div>
            <section class="intro bg">
                <div class="w1440 subpg">
                    <div class="zido">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.947493333348!2d127.00138651566417!3d37.57985407979527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca32ea3c68715%3A0xc0d3863cba158826!2z7ISc7Jq47Yq567OE7IucIOyiheuhnOq1rCDrj5nsiK3quLggMjU!5e0!3m2!1sko!2skr!4v1659423997118!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="place_wrap subbox">
                        <div>
                            <div class="item_sub">
                                <h4>주소</h4>
                                <h2>서울시 종로구 동숭길 25, 3층 2호</h2>
                            </div>
                            <div class="item_sub">
                                <h4>지하철</h4>
                                <h2>혜화역 2번출구 하차 후 도보 6분</h2>
                            </div>
                        </div>
                        <div class="item_sub">
                            <h4>버스</h4>
                            <h2><span>109번</span>혜화역.서울연극센터 하차 후 도보 6분</h2>
                            <h2><span>710번</span>방송통신대.이화장 하차 후 도보 2분</h2>
                            <h2><span>102번</span>방송통신대.이화장 하차 후 도보 2분</h2>
                            <h2><span>111번</span>종로중부새마을금고 하차 후 도보 18분</h2>
                        </div>                             
                    </div>
                </div>
            </section>
