            <div class="top_ban_wrap">
                <div class="top_ban introban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>평등한 노동과 더 나은 소비를 생각합니다</span>
                        </strong>    
                        <p>
                            <span>들다방소개</span>
                        </p>        
                    </div>
                </div>
            </div>
            <section class="intro bg">
                    <article>
                        <div class="subpgwrap">
                            <div class="w1440 subpg ">
                                <div class="subbox">
                                    <div class="imgbox">
                                        <img src="../img/intro/sec1_1.jpg" alt="장애인복지_팻말을들며_시위하는모습">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/sec1_2.jpg" alt="버스에올라가_장애인도버스를타고싶다긴팻말을들고_시위하는모습">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/sec1_3.jpg" alt="편리한이동을원한다_팻말을들며_휠체어에앉아시위하는모습">
                                    </div>
                                </div>
                            </div>
                            <div class="text100 b">
                                <div class="textbox wc">
                                    <strong>
                                        <span>장애인 인권단체에 힘을 주는 들다방</span>
                                    </strong>    
                                    <strong>
                                        <span>잠시 쉬어가는 쉼터를 희망합니다.</span>
                                    </strong>
                                </div>
                            </div>    
                        </div>
                        <div class="w1440 subpg">
                            <div class="textbox">
                                <p>마로니에 공원 뒤편 ‘대항로 빌딩’에는 노들의 장애인야학, 장애학궁리소, 장애인자립생활센터 외에도 전국장애인차별철폐연대, 서울장애인인권영화제 등 장애인권운동 단체들이 모여 있습니다.</p>
                                <p>이곳에서 들다방은 밥과 커피를 제공하는 에너지 보급소가 되고자 합니다.</p>
                                <p>점심과 저녁 식사를 만들어 야학 학생들과 활동가들의 끼니를 챙기고, 맛난 커피와 음료를 제공하여 이곳을 방문하는 이들이 잠시 쉴 수 있는 베이스캠프가 되기를 희망합니다.</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="subpgwrap">
                            <div class="w1440 subpg">
                                <div class="subbox">
                                    <div class="imgbox">
                                        <img src="../img/intro/sec2_1.jpg" alt="직무교육수업을_하는_모습">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/sec2_2.jpg" alt="직무수업중_커피수업을_받는_한_남자청년">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/sec2_3.jpg" alt="직무수업중_커피수업을_받는_사람들">
                                    </div>
                                </div>
                            </div>
                            <div class="text100 y">
                                <div class="textbox">
                                    <strong>
                                        <span>노동의 권리를 실현하는 들다방</span>
                                    </strong>    
                                    <strong>
                                        <span>당신의 삶을 응원합니다</span>
                                    </strong>
                                </div>
                            </div>    
                        </div>
                        <div class="w1440 subpg">
                            <div class="textbox bc">
                                <p>들다방은 다양한 일자리를 창출해 사회적 소수자들이 노동의 권리를 실현하는 일터를 만들고 있습니다.</p>
                                <p>들다방을 둘러싼 공간을 깨끗이 관리하고, 먹을거리를 만들어 나누고,</p>
                                <p>다양한 활동이 이루어지게 하는 모든 과정에 중증장애인의 노동이 깃들어 있습니다.</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="subpgwrap">
                            <div class="w1440 subpg">
                                <div class="subbox">
                                    <div class="imgbox">
                                        <img src="../img/intro/sec3_1.jpg" alt="직무교육수업을_하는_모습">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/sec3_2.jpg" alt="직무수업중_커피수업을_받는_한_남자청년">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/sec3_3.jpg" alt="직무수업중_커피수업을_받는_사람들">
                                    </div>
                                </div>
                            </div>
                            <div class="text100 g">
                                <div class="textbox">
                                    <strong>
                                        <span>문화공간 들다방</span>
                                    </strong>    
                                    <strong>
                                        <span>다양한, 우리 모두의 삶을 소통합니다</span>
                                    </strong>
                                </div>
                            </div>    
                        </div>
                        <div class="w1440 subpg">
                            <div class="textbox bc">
                                <p>노란들판의 ‘들’ , 복수의 의미 ‘들multi’, </p>
                                <p>그리고 한자로 많을 ‘다多’의 의미를 포함하는 들다방.</p>
                                <p>들다방은 밥과 커피 그리고 다양한 문화활동으로 더 많은 장애인이 노동하고, 투쟁하고, 쉬면서 소통하는 복합문화공간이 되기를 바랍니다.</p>
                            </div>
                        </div>
                    </article>
            </section>
