            <div class="top_ban_wrap">
                <div class="top_ban introban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>평등한 노동과 더 나은 소비를 생각합니다</span>
                        </strong>    
                        <p>
                            <span>들다방식당</span>
                        </p>        
                    </div>
                </div>
            </div>
            <section class="intro bg">
                    <div class="w1440 subpg ">
                        <div class="item_sub npt">
                            <strong>
                                <span>식사는 하셨어요?</span>
                            </strong>
                            <h4>
                                <span>평등한 인사, 평등한 밥상을 제공합니다</span>
                            </h4>
                            <h4>
                                <span>식사 제공 시간 월-금 12:00-13:00 / 17:40-18:20</span>
                            </h4>
                            <h4>
                                <span>가격 : 6,000원 (노들 야학 학생 무상급식)</span>
                            </h4>
                        </div>
                        <div class="banbox">
                            <img src="../img/intro/food/foodban.jpg" alt="들다방식당을 준비하며 밥을 푸고 있는 사진">
                        </div>
                    </div>
                    <article>
                        <div class="subpgwrap">
                            <div class="w1440 subpg ">
                                <div class="subbox">
                                    <div class="imgbox">
                                        <img src="../img/intro/food/food1.jpg" alt="장애인복지_팻말을들며_시위하는모습">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/food/food2.jpg" alt="버스에올라가_장애인도버스를타고싶다긴팻말을들고_시위하는모습">
                                    </div>
                                    <div class="imgbox">
                                        <img src="../img/intro/food/food3.jpg" alt="편리한이동을원한다_팻말을들며_휠체어에앉아시위하는모습">
                                    </div>
                                </div>
                            </div>
                            <div class="text100 b">
                                <div class="textbox wc">
                                    <strong>
                                        <span>식사하셨어요? 라는 흔한 안부 인사를</span>
                                    </strong>    
                                    <strong>
                                        <span>나누기 어렵던 시절이 있었습니다.</span>
                                    </strong>
                                </div>
                            </div>    
                        </div>
                        <div class="w1440 subpg">
                            <div class="textbox">
                                <p>계단 때문에 들어갈 수 있는 식당이 없어서, 혼자 밥을 먹기 어려운데 활동지원인도 없어서</p>
                                <p>밥을 사 먹기엔 주머니 사정이 좋지 못해서, 밥 한 끼 제대로 먹지 못하고</p>
                                <p>야학에 오던 학생들 2014년 노들야학은 어떻게 함께 먹어보자는 마음으로</p>
                                <p>급식을 시작했습니다. 중증장애인 학생들과 교사, 활동지원인이 모여 함께 밥을 먹는 일상을 꾸리는 일은 생각보다 더 만만치 않았습니다.</p>
                            </div>
                        </div>
                    </article>
                <article>
                    <div class="subpgwrap">
                        <div class="w1440 subpg ">
                            <div class="subbox">
                                <div class="imgbox">
                                    <img src="../img/intro/food/food4.jpg" alt="장애인복지_팻말을들며_시위하는모습">
                                </div>
                                <div class="imgbox">
                                    <img src="../img/intro/food/food5.jpg" alt="버스에올라가_장애인도버스를타고싶다긴팻말을들고_시위하는모습">
                                </div>
                                <div class="imgbox">
                                    <img src="../img/intro/food/food6.jpg" alt="편리한이동을원한다_팻말을들며_휠체어에앉아시위하는모습">
                                </div>
                            </div>
                        </div>
                        <div class="text100 y">
                            <div class="textbox">
                                <strong>
                                    <span>‘일상’이라는 말은 내가 노들에서 배운</span>
                                </strong>    
                                <strong>
                                    <span>가장 멋진 말이었습니다.</span>
                                </strong>
                            </div>
                        </div>    
                    </div>
                    <div class="w1440 subpg">
                        <div class="textbox">
                            <p>그리고 가장 단단한 말이었습니다.</p>
                            <p>매일 저녁 펼쳐지는 노들 밥상공동체, 이 일상을 가꾸는 일에, 함께 해주시면 좋겠습니다.</p>
                            <p>당신이 후원한 밥 한끼로, 우리는 계속 함께 먹고 공부하며 세상을 바꿔나갈 생각입니다.</p>
                        </div>
                    </div>
                    <div class="w1440 subpg ">
                        <div class="item_sub">
                            <h4>
                                <span>노들장애인야학 무상급식 후원 문의</span>
                            </h4>
                            <h2>
                                <span>문의 : 02-766-9101 / nodeul@hanmail.net(노들야학 사무국 )</span>
                            </h2>
                            <h2>
                                <span>후원 : 신한 100-025-323501 노들야학</span>
                            </h2>
                        </div>
                    </div>
            </section>
