            <div class="top_ban_wrap">
                <div class="top_ban newsban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>소통과 투쟁과 문화의 공간 들다방입니다</span>
                        </strong>    
                        <p>
                            <span>들다방소식</span>
                        </p>        
                    </div>
                </div>
            </div>
            <div class="nav_tab_wrap">
                <ul class="w1440 nav_tab">
                    <li class="on">
                        <a rel="con1">들다방소식</a>
                    </li>
                    <li>
                        <a rel="con2">케이터링</a>
                    </li>
                    <li>
                        <a rel="con3">문화기획</a>
                    </li>
                    <li>
                        <a rel="con4">직무교육지원</a>
                    </li>
                </ul>
            </div>
            <section class="news bg">
                <article id="con1" class="w1440 con">
                    <ul class="fwrap">
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news1.jpg" alt="차별금지법" /></div>
                            <figcaption>
                                <div class="date"><span class="day">23</span><span class="month">May</span></div>
                                <h3>[언론 기사] 영남대학교 영대신문 차별금지법 기사에 실린 들다방</h3>
                                <p>
                                    「발의 15년째, 또다시 화두에 오른 차별금지법 」 발의 15년째, 또다시 화두에 오른 차별금지법[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news2.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">28</span><span class="month">May</span></div>
                                <h3>[직무 교육 지원] 들다방 카페 체험 및 바리스타 직무 교육</h3>
                                <p>
                                    들다방은 다양한 일자리를 창출해 사회적 소수자들이 노동의 권리를 실현하는 일터를 만들고 있습니다[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news3.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">30</span><span class="month">Dec</span></div>
                                <h3>[영상] <세상을 바꾸는 특별한 카페 '비티 앤 보우 커피Bitty & Beau's Coffee'></h3>
                                <p>
                                    2016년은 들다방이 설립된 연도입니다. 노들장애인야학 학생들의 안정적인 식사를 공급하고, 장애인을 포함한 사회취약계층이 일터의 주체가 될[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news5.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">18</span><span class="month">Jan</span></div>
                                <h3>[영상] 2021 종로 사회적기업을 만나다_들다방 편</h3>
                                <p>
                                    https://www.youtube.com/watch?v=V7uHr4H9ZHk   들다방은 예비사회적기업 기간을 거쳐, 2021년 9월 사회적기업 정식 인준을 받았습니다.[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news4.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">5</span><span class="month">Mar</span></div>
                                <h3>1회용컵 사용 줄이고 다회용컵 사용하는 들다방 카페(보틀클럽 제로웨이스트 리유저블 리턴미컵)</h3>
                                <p>
                                    들다방 카페에 비치된 여러 종류의 컵들 들다방 카페는 여러 용도와 장애를 고려해 다양한 컵이 준비되어 있어요.[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news6.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">14</span><span class="month">Jan</span></div>
                                <h3>2022년 들다방 홈페이지/쇼핑몰 웹접근성 2년 연속 품질 인증</h3>
                                <p>
                                    들다방 홈페이지에 표기된 '노란들판을 일구는 농부들(들다방 자매단체)'와 웹접근성 인증 마크 2022년 들다방 쇼핑몰 웹접근성 인증서[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_directionboard.jpg" alt="바뀐게시판사진" /></div>
                            <figcaption>
                                <div class="date"><span class="day">7</span><span class="month">Mar</span></div>
                                <h3>들다방 메뉴판이 많이 바뀌었어요</h3>
                                <p>
                                    들다방은 2016년 노들장애인야학 학생들의 무상급식을 지원하기 위해 만들어졌습니다. 
                                    급식하는 식당과 차를 주문해 마시는 카페가 시작이었죠. [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_gift.jpg" alt="차별철폐운동설선물세트" /></div>
                            <figcaption>
                                <div class="date"><span class="day">27</span><span class="month">Dec</span></div>
                                <h3>진보적 장애인 운동 재정 마련을 위한 2022년 설 선물 특별 판매</h3>
                                <p>
                                    2022년 설 선물 특별 판매장애인 차별 철폐 투쟁 20년!!(사진 설명: 거리에서 휠체어를 타고 이동하는 사람, 목발로 이동하는 사람 등이 피켓과 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_mind.jpg" alt="마음접근성" /></div>
                            <figcaption>
                                <div class="date"><span class="day">18</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 체크리스트_‘마음’ 접근성을 높여요</h3>
                                <p>
                                    들다방은 2016년 노들장애인야학 학생들의 무상급식을 지원하기 위해 만들어졌습니다. 
                                    급식하는 식당과 차를 주문해 마시는 카페가 시작이었죠. [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_info.jpg" alt="정보접근성" /></div>
                            <figcaption>
                                <div class="date"><span class="day">18</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 체크리스트_‘정보’ 접근성을 높여요</h3>
                                <p>
                                    가게 안의 어떤 부분을 개선할 수 있는지 체크리스트로 쉽게 파악해보세요. 체크리스트는 ‘공간 접근성’, ‘정보 접근성’, ‘마음 접근성’에 따라 나뉩니다. 내가 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_place.jpg" alt="공간접근성" /></div>
                            <figcaption>
                                <div class="date"><span class="day">18</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 체크리스트_‘공간’ 접근성을 높여요</h3>
                                <p>
                                    가게 안의 어떤 부분을 개선할 수 있는지 체크리스트로 쉽게 파악해보세요. 체크리스트는 ‘공간 접근성’, ‘정보 접근성’, ‘마음 접근성’에 따라 나뉩니다. 내가 속한 가게의 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_marie.jpg" alt="마리끌레르_커버사진" /></div>
                            <figcaption>
                                <div class="date"><span class="day">13</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 잡지 <마리끌레르>에 실린 들다방</h3>
                                <p>
                                    잡지 마리끌레르 10월호에서 '차별 없는 공간'이라는 주제로 들다방을 취재해갔습니다. 종이 잡지에는 '피처스(FEATURES)'  '환대의 공간'이라는 제목과 함께 "모든 존재가 그 자체로 살아갈 수[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_social.png" alt="사회적기업_관련그래프" /></div>
                            <figcaption>
                                <div class="date"><span class="day">13</span><span class="month">Oct</span></div>
                                <h3>[언론 기사] 들다방 사회적기업 정식 인증</h3>
                                <p>
                                    들다방이 '예비' 사회적기업에서 2021년 9월, 정식 사회적기업 으로 인증 받았습니다. 2016년 들다방이 설립되고 5년 만, 2018년 예비사회적기업이 되고 3년 만의 성과입니다. 아래는 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_social1.png" alt="우수사회적기업_들다방" /></div>
                            <figcaption>
                                <div class="date"><span class="day">13</span><span class="month">Oct</span></div>
                                <h3>[언론 기사] 사회적기업 인증 우수 사례로 꼽힌 들다방</h3>
                                <p>
                                    [언론 기사] 양종곤 기자, 「수는 늘고 수익은 줄고···재정 지원 시급한 ‘착한 기업’ 」, 『서울경제』, 2021년 9월 8일.   수는 늘고 수익은 줄고···재정 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_WA.jpg" alt="과학기술정보통신부 WEB ACCESSIBILITY 마크(웹 접근성 품질인증 마크)" /></div>
                            <figcaption>
                                <div class="date"><span class="day">12</span><span class="month">Oct</span></div>
                                <h3>[언론 기사] 시각장애인 이용 웹접근성 인증 받은 들다방 쇼핑몰</h3>
                                <p>
                                    ‘들다방 쇼핑몰’은 ‘들다방 홈페이지’와 함께 시각장애인 정보 접근권을 위해 ‘웹접근성 품질 인증*‘을 공식적으로 받은 웹페이지입니다.[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_gift_choo.jpg" alt="추석맞이선물세트안내판" /></div>
                            <figcaption>
                                <div class="date"><span class="day">11</span><span class="month">Aug</span></div>
                                <h3>진보적 장애인 운동 재정 마련을 위한 2021년 추석 선물 판매</h3>
                                <p>
                                    [2021 추석선물 특별판매 텍스트 전문] [2021 추석선물 특별판매 텍스트 전문_카드뉴스_비공개가격확인_1_8장] 진보적 장애인 운동 재정 마련을 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_discrimination.png" alt="두사람이 서로를 안고 있는 차별을 반대한다는 포스터" /></div>
                            <figcaption>
                                <div class="date"><span class="day">15</span><span class="month">Jul</span></div>
                                <h3>[차별없는가게] 들다방도 함께합니다</h3>
                                <p>
                                    WE WELCOME ALL 모든 차별에 반대한다 마음의 ‘턱’을 없애는 공간 낯선 상대방과 대화를 이어가는 공간   차별없는가게는 사회적 소수자가 지역사회에서 차별받지 않고,[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_outboos.jpg" alt="들다방 야외 천막 부스 풍경" /></div>
                            <figcaption>
                                <div class="date"><span class="day">14</span><span class="month">Jul</span></div>
                                <h3>2019년 10월 26회 노란들판의 꿈-“이제 나간다. 나, 간다” 야외 부스 팝업카페</h3>
                                <p>
                                    들다방 야외 천막 부스 풍경. "노란들판의 꿈, 나, 간다"라는 슬로건과 함께 '예비사회적기업 들다방’이라 쓰인 현수막이 걸려 있다. 그 아래 기다란[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_food.jpg" alt="앞치마와 위생모를 착용한 사람이 주걱으로 커다란 밥솥에 담긴 흰 쌀밥을 작은 용기에 옮겨담는 뒷모습" /></div>
                            <figcaption>
                                <div class="date"><span class="day">30</span><span class="month">Jun</span></div>
                                <h3>점심과 저녁, 들다방에 식사하러 오세요</h3>
                                <p>
                                    DEUL DABANG 노란 뱃지 그림_노란 바탕에 검은색으로 한손에 숟가락을 든 그림 들다방 앞치마를 두르고 모자를 쓴 채 웃고[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_pyunchang_catering.jpg" alt="들다방’이라 쓰인 현수막 아래 세 사람이 모여 있고, 테이블 위에 테이크아웃 종이컵이 나열돼 있다" /></div>
                            <figcaption>
                                <div class="date"><span class="day">28</span><span class="month">Jun</span></div>
                                <h3>2019년 2월 평창장애포럼 음료와 쿠키 케이터링</h3>
                                <p>
                                    지난 2019년 2월, 강원도와 한국장애포럼이 개최한 '2019 평창장애포럼' 케이터링 다녀왔습니다. 2019년 장애포럼에서는 '장애등급제 단계적 폐지'와 고용노동부의 중증장애인을 위한 유엔 장애인권리협약 이행을 골자로[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_pyunchang1_catering.jpg" alt="들다방 야외 천막 부스 풍경" /></div>
                            <figcaption>
                                <div class="date"><span class="day">21</span><span class="month">Jun</span></div>
                                <h3>2018년 3월 평창 동계패럴림픽 국제컨퍼런스 음료 케이터링</h3>
                                <p>
                                    들다방이라 쓰인 현수막 아래 기다란 테이블과 수많은 집기들이 놓여 있다. 대여섯 명의 사람들이 분주히 일하는 모습.[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_nodle_catering.jpg" alt="배너에는 다음과 같은 텍스트가 적혀 있다. ‘밑불이 되고 불씨가 되자, 노들장애인야학, 노들장애학궁리소’" /></div>
                            <figcaption>
                                <div class="date"><span class="day">10</span><span class="month">Jun</span></div>
                                <h3>2021년 5월 『절멸과 갱생 사이: 형제복지원의 사회학』 출간기념회 케이터링</h3>
                                <p>
                                    들다방 케이터링 다녀왔습니다. 지난 5월 27일 목요일, 장소는 방송통신대 역사관 2층. 출간기념회를 위한 음료 출장 케이터링이었습니다. 의뢰하신 곳은 장애와인권발바닥행동[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_blueroad.png" alt="0402세계자폐인의 날을 맞이해 4명이 같이,가요,블루,로드 를 각각 들고 있다." /></div>
                            <figcaption>
                                <div class="date"><span class="day">06</span><span class="month">Apr</span></div>
                                <h3>[#블루로드 캠페인] 장애인과 비장애인이 함께 일하는 사회적기업 들다방X동구밭 인증샷 이벤트</h3>
                                <p>
                                    4월 2일, 세계자폐인의 날자폐에 대한 인식을 높이고자세계 랜드마크에 파란 등을 켜는 캠페인Light it up Blue 블루로드 캠페인 인증샷만들기, 경품,[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_music.jpg" alt="날보고싶다면_이라는제목을가진_앨범커버" /></div>
                            <figcaption>
                                <div class="date"><span class="day">02</span><span class="month">Apr</span></div>
                                <h3>‘들다방과 단골들’이 만든 노들장애인야학의 댄스 음원 공개합니다</h3>
                                <p>
                                    작사/작곡/편곡. 김제형 보컬. 신승은 녹음. 김정민 믹싱. 강은구 @eunstudio 마스터링. 이재수@Sonority Mastering[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                    </ul>
                </article>
                <article id="con2" class="w1440 con">
                    <ul class="fwrap">
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news4.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">5</span><span class="month">Mar</span></div>
                                <h3>1회용컵 사용 줄이고 다회용컵 사용하는 들다방 카페(보틀클럽 제로웨이스트 리유저블 리턴미컵)</h3>
                                <p>
                                    들다방 카페에 비치된 여러 종류의 컵들 들다방 카페는 여러 용도와 장애를 고려해 다양한 컵이 준비되어 있어요.[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_outboos.jpg" alt="들다방 야외 천막 부스 풍경" /></div>
                            <figcaption>
                                <div class="date"><span class="day">14</span><span class="month">Jul</span></div>
                                <h3>2019년 10월 26회 노란들판의 꿈-“이제 나간다. 나, 간다” 야외 부스 팝업카페</h3>
                                <p>
                                    들다방 야외 천막 부스 풍경. "노란들판의 꿈, 나, 간다"라는 슬로건과 함께 '예비사회적기업 들다방’이라 쓰인 현수막이 걸려 있다. 그 아래 기다란[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_pyunchang_catering.jpg" alt="들다방’이라 쓰인 현수막 아래 세 사람이 모여 있고, 테이블 위에 테이크아웃 종이컵이 나열돼 있다" /></div>
                            <figcaption>
                                <div class="date"><span class="day">28</span><span class="month">Jun</span></div>
                                <h3>2019년 2월 평창장애포럼 음료와 쿠키 케이터링</h3>
                                <p>
                                    지난 2019년 2월, 강원도와 한국장애포럼이 개최한 '2019 평창장애포럼' 케이터링 다녀왔습니다. 2019년 장애포럼에서는 '장애등급제 단계적 폐지'와 고용노동부의 중증장애인을 위한 유엔 장애인권리협약 이행을 골자로[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_pyunchang1_catering.jpg" alt="들다방 야외 천막 부스 풍경" /></div>
                            <figcaption>
                                <div class="date"><span class="day">21</span><span class="month">Jun</span></div>
                                <h3>2018년 3월 평창 동계패럴림픽 국제컨퍼런스 음료 케이터링</h3>
                                <p>
                                    들다방이라 쓰인 현수막 아래 기다란 테이블과 수많은 집기들이 놓여 있다. 대여섯 명의 사람들이 분주히 일하는 모습.[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_nodle_catering.jpg" alt="배너에는 다음과 같은 텍스트가 적혀 있다. ‘밑불이 되고 불씨가 되자, 노들장애인야학, 노들장애학궁리소’" /></div>
                            <figcaption>
                                <div class="date"><span class="day">10</span><span class="month">Jun</span></div>
                                <h3>2021년 5월 『절멸과 갱생 사이: 형제복지원의 사회학』 출간기념회 케이터링</h3>
                                <p>
                                    들다방 케이터링 다녀왔습니다. 지난 5월 27일 목요일, 장소는 방송통신대 역사관 2층. 출간기념회를 위한 음료 출장 케이터링이었습니다. 의뢰하신 곳은 장애와인권발바닥행동[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                    </ul>
                </article>
                <article id="con3" class="w1440 con">
                    <ul class="fwrap">
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news1.jpg" alt="차별금지법" /></div>
                            <figcaption>
                                <div class="date"><span class="day">23</span><span class="month">May</span></div>
                                <h3>[언론 기사] 영남대학교 영대신문 차별금지법 기사에 실린 들다방</h3>
                                <p>
                                    「발의 15년째, 또다시 화두에 오른 차별금지법 」 발의 15년째, 또다시 화두에 오른 차별금지법[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news3.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">30</span><span class="month">Dec</span></div>
                                <h3>[영상] <세상을 바꾸는 특별한 카페 '비티 앤 보우 커피Bitty & Beau's Coffee'></h3>
                                <p>
                                    2016년은 들다방이 설립된 연도입니다. 노들장애인야학 학생들의 안정적인 식사를 공급하고, 장애인을 포함한 사회취약계층이 일터의 주체가 될[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news4.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">5</span><span class="month">Mar</span></div>
                                <h3>1회용컵 사용 줄이고 다회용컵 사용하는 들다방 카페(보틀클럽 제로웨이스트 리유저블 리턴미컵)</h3>
                                <p>
                                    들다방 카페에 비치된 여러 종류의 컵들 들다방 카페는 여러 용도와 장애를 고려해 다양한 컵이 준비되어 있어요.[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news6.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">14</span><span class="month">Jan</span></div>
                                <h3>2022년 들다방 홈페이지/쇼핑몰 웹접근성 2년 연속 품질 인증</h3>
                                <p>
                                    들다방 홈페이지에 표기된 '노란들판을 일구는 농부들(들다방 자매단체)'와 웹접근성 인증 마크 2022년 들다방 쇼핑몰 웹접근성 인증서[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_directionboard.jpg" alt="바뀐게시판사진" /></div>
                            <figcaption>
                                <div class="date"><span class="day">7</span><span class="month">Mar</span></div>
                                <h3>들다방 메뉴판이 많이 바뀌었어요</h3>
                                <p>
                                    들다방은 2016년 노들장애인야학 학생들의 무상급식을 지원하기 위해 만들어졌습니다. 
                                    급식하는 식당과 차를 주문해 마시는 카페가 시작이었죠. [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_gift.jpg" alt="차별철폐운동설선물세트" /></div>
                            <figcaption>
                                <div class="date"><span class="day">27</span><span class="month">Dec</span></div>
                                <h3>진보적 장애인 운동 재정 마련을 위한 2022년 설 선물 특별 판매</h3>
                                <p>
                                    2022년 설 선물 특별 판매장애인 차별 철폐 투쟁 20년!!(사진 설명: 거리에서 휠체어를 타고 이동하는 사람, 목발로 이동하는 사람 등이 피켓과 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_mind.jpg" alt="마음접근성" /></div>
                            <figcaption>
                                <div class="date"><span class="day">18</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 체크리스트_‘마음’ 접근성을 높여요</h3>
                                <p>
                                    들다방은 2016년 노들장애인야학 학생들의 무상급식을 지원하기 위해 만들어졌습니다. 
                                    급식하는 식당과 차를 주문해 마시는 카페가 시작이었죠. [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_info.jpg" alt="정보접근성" /></div>
                            <figcaption>
                                <div class="date"><span class="day">18</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 체크리스트_‘정보’ 접근성을 높여요</h3>
                                <p>
                                    가게 안의 어떤 부분을 개선할 수 있는지 체크리스트로 쉽게 파악해보세요. 체크리스트는 ‘공간 접근성’, ‘정보 접근성’, ‘마음 접근성’에 따라 나뉩니다. 내가 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_place.jpg" alt="공간접근성" /></div>
                            <figcaption>
                                <div class="date"><span class="day">18</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 체크리스트_‘공간’ 접근성을 높여요</h3>
                                <p>
                                    가게 안의 어떤 부분을 개선할 수 있는지 체크리스트로 쉽게 파악해보세요. 체크리스트는 ‘공간 접근성’, ‘정보 접근성’, ‘마음 접근성’에 따라 나뉩니다. 내가 속한 가게의 [...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_marie.jpg" alt="마리끌레르_커버사진" /></div>
                            <figcaption>
                                <div class="date"><span class="day">13</span><span class="month">Oct</span></div>
                                <h3>[차별없는가게] 잡지 <마리끌레르>에 실린 들다방</h3>
                                <p>
                                    잡지 마리끌레르 10월호에서 '차별 없는 공간'이라는 주제로 들다방을 취재해갔습니다. 종이 잡지에는 '피처스(FEATURES)'  '환대의 공간'이라는 제목과 함께 "모든 존재가 그 자체로 살아갈 수[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_discrimination.png" alt="두사람이 서로를 안고 있는 차별을 반대한다는 포스터" /></div>
                            <figcaption>
                                <div class="date"><span class="day">15</span><span class="month">Jul</span></div>
                                <h3>[차별없는가게] 들다방도 함께합니다</h3>
                                <p>
                                    WE WELCOME ALL 모든 차별에 반대한다 마음의 ‘턱’을 없애는 공간 낯선 상대방과 대화를 이어가는 공간   차별없는가게는 사회적 소수자가 지역사회에서 차별받지 않고,[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                        <figure class="newswrap">
                            <div class="image"><img src="./img/news/news_music.jpg" alt="날보고싶다면_이라는제목을가진_앨범커버" /></div>
                            <figcaption>
                                <div class="date"><span class="day">02</span><span class="month">Apr</span></div>
                                <h3>‘들다방과 단골들’이 만든 노들장애인야학의 댄스 음원 공개합니다</h3>
                                <p>
                                    작사/작곡/편곡. 김제형 보컬. 신승은 녹음. 김정민 믹싱. 강은구 @eunstudio 마스터링. 이재수@Sonority Mastering[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                    </ul>
                </article>
                <article id="con4" class="w1440 con">
                    <ul class="fwrap">
                        <figure class="newswrap">
                            <div class="image"><img src="./img/main/news2.jpg" alt="직무교육" /></div>
                            <figcaption>
                                <div class="date"><span class="day">28</span><span class="month">May</span></div>
                                <h3>[직무 교육 지원] 들다방 카페 체험 및 바리스타 직무 교육</h3>
                                <p>
                                    들다방은 다양한 일자리를 창출해 사회적 소수자들이 노동의 권리를 실현하는 일터를 만들고 있습니다[...]
                                </p>
                            </figcaption>
                           <a href="#"></a>
                        </figure>
                    </ul>
                </article>
            </section>
