<div class="top_ban_wrap">
    <div class="top_ban qnaban">
        <div class="w1440 top_text">
            <strong>
                <span>들다방은 당신의 삶을 응원합니다</span>
            </strong>    
            <p>
                <span>문의</span>
            </p>        
        </div>
    </div>
</div>
<section class="qna bg">
    <article class="w1440">
        <div class="subscribe txtbox">
            <strong>
                <span>들다방의 카페와 식당 이용, 음료 출장제공, 문화행사에 대해 언제든지 문의하세요</span>
            </strong>
        </div>
        <div class="halfbox">
            <div class="postbox leftbox">
                <form method="POST" action="/store">
                    <div class="boxwrap">
                        <div class="name_box">
                            <label>이름</label>
                            <input type="text" name="writer" class="input_name" placeholder="이름">
                        </div>
                        <div class="eamil_box">
                            <label>이메일</label>
                            <input type="text" name="email" class="input_email" placeholder="이메일">
                        </div>
                    </div>
                    <div class="boxwrap">
                        <div class="phone_box">
                            <label>전화번호</label>
                            <input type="text" name="phone" class="input_phone" placeholder="전화번호">
                        </div>
                        <div class="title_box">
                            <label>제목</label>
                            <input type="text" name="title" class="input_title" placeholder="제목">
                        </div>
                    </div>
                    <div class="content_box">
                        <label>내용</label>
                        <textarea type="text" name="content" class="input_content" placeholder="내용"></textarea>
                    </div>
                    <input class="btn_sub" type="submit" value="보내기">
                </form>               
            </div>
            <div class="rightbox">
                <div class="textbox boxtitle">
                    <strong>
                        <span>문의하는 방법</span>
                    </strong>
                </div>
                <div class="box">
                    <div class="textbox">
                        <strong>
                            <span>1. 자주묻는질문 게시판을 확인 해주세요</span>
                        </strong>
                        <p>
                            <span>자주 궁금해 하시는 대다수의 답변을 얻을수 있습니다</span>
                        </p>
                    </div>
                    <div class="textbox">
                        <strong>
                            <span>2. 빠른 답변이 필요하실땐 카카오톡으로 문의를 해주세요</span>
                        </strong>
                        <p>
                            <span>자주 궁금해 하시는 대다수의 답변을 얻을수 있습니다</span>
                        </p>
                    </div>
                    <div class="textbox">
                        <strong>
                            <span>2. 빠른 답변이 필요하실땐 전화로 문의를 해주세요</span>
                        </strong>
                        <p>
                            <span>02-2276-0405 신속한 답변을 드릴 수 있습니다</span>
                        </p>
                    </div>
                </div>
                <div class="colorbox">
                    <div class="textbox">
                        <strong>
                            <span>deuldabang@gmail.com</span>
                        </strong>                                    
                    </div>
                    <div class="textbox">
                        <strong>
                            <span>02-2276-0405</span>
                        </strong>
                    </div>                                
                </div>
            </div>
        </div>
    </article>
</section>
