<div class="top_ban_wrap">
    <div class="top_ban qnaban">
        <div class="w1440 top_text">
            <strong>
                <span>들다방은 당신의 삶을 응원합니다</span>
            </strong>    
            <p>
                <span>자주묻는질문</span>
            </p>        
        </div>
    </div>
</div>
<section class="qna bg">
    <article class="w1440" id="content">
        <div class="subscribe txtbox">
            <strong>
                <span>들다방의 카페와 식당 이용, 음료 출장제공, 문화행사에 대해 언제든지 문의하세요</span>
            </strong>
        </div>
        <div class="faq accordion-container" id="accordion"> 
            <h1>문의 검색하기</h1>
            <input type="text" class="live-search-box" placeholder="Search" />
            <div class="topic content-entry">
                <div class="open article-title">
                    <h2 class="question">1. 들다방 식당 식사 제공 시간 안내<span class="ptag">SIEBEL</span></h2>
                    <span class="faq-t"></span>
                </div>
                <p class="answer accordion-content">
                    요일: 월 - 금
                    <br>점심: 12시 - 13시
                    <br>저녁: 17시 40분 - 18시 20분
                    <br>에 제공됩니다.
                </p>
            </div>
            <div class="topic content-entry">
                <div class="open article-title">
                <h2 class="question">2. 들다방 식당 가격 안내</h2><span class="faq-t"></span>
                </div>
                <p class="answer accordion-content">
                    가격: 6,000원
                    <br><br>*노들 야학 학생은 무상제공됩니다. 
                </p>
            </div>
            <div class="topic content-entry">
                <div class="open article-title">
                <h2 class="question">3. 무상급식 후원 안내</h2><span class="faq-t"></span>
                </div>
                <p class="answer accordion-content">
                    문의 : 02-766-9101 / nodeul@hanmail.net(노들야학 사무국 )
                    <br><br>후원 : 신한 100-025-323501 노들야학
                </p>
            </div>
            <div class="topic content-entry">
                <div class="open article-title">
                <h2 class="question">4. 카페 운영시간 안내 </h2><span class="faq-t"></span>
                </div>
                <p class="answer accordion-content">
                    요일: 월-일
                    <br>운영시간: 오전 09시 30분 ~ 오후 6시 30분
                </p>
            </div>
        </div>
    </article>
</section>
