            <div class="top_ban_wrap">
                <div class="top_ban shopban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>들다방은 평등한 사회를 위해 함께합니다</span>
                        </strong>    
                        <p>
                            <span>쇼핑몰</span>
                        </p>        
                    </div>
                </div>
            </div>
            <section class="news bg">
                <article class="w1440">
                    <div class="subtitle">
                        <strong>
                            <span>문화예술판 마스크</span>
                        </strong>  
                    </div>                 
                    <div class="bannerbox">
                        <img src="../img/shop/event/ban3.jpg" alt="들다방카페 전경이 보이는 사진">
                    </div>
                    <div class="subscribe_b">
                        <p>들다방은 당신의 삶 그 자체를 응원합니다</p>
                        <p>판매 수익금은 들다방 운영 및 단체에 후원됩니다</p>
                    </div>
                    <ul class="item_wrap">
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/mask1.jpg" alt="검은색 색상에 마스크 100개세트 1박스">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>KF-94 보건용 마스크 100개 검정 대형(L)</span>
                                    </strong>
                                    <h4>
                                        <span>KF94 마스크 대형 검정 (L) 개별포장(1매) | 1박스 50매 | 2박스 * 50매 = 100매,</span>
                                    </h4>
                                    <h4>
                                        <span>고효율 4중 구조, 2중 MB 필터, 기능성 코지지대, 귀가 편한 이어밴드, 유해물질 미검출.</span>
                                    </h4>
                                    <p>
                                        <span>₩32,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/mask2.png" alt="검은색 색상에 새부리형마스크 100개세트 1박스">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>KF-94 보건용 마스크 100개 새부리형 검정 대형(L)</span>
                                    </strong>
                                    <h4>
                                        <span>KF94 마스크 대형 새부리형 검정 (L) 개별포장(1매) | 1박스 50매 |  2박스 * 50매 = 100매,</span>
                                    </h4>
                                    <h4>
                                        <span>고효율 4중 구조, 2중 MB 필터, 기능성 코지지대, 귀가 편한 이어밴드, 유해물질 미검출.</span>
                                    </h4>
                                    <p>
                                        <span>₩36,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/mask3.png" alt="흰색 색상에 새부리형마스크 100개세트 1박스">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>KF-94 보건용 마스크 100개 새부리형 흰색 대형(L)</span>
                                    </strong>
                                    <h4>
                                        <span>KF94 마스크 대형 흰색 (L) 개별포장(1매) | 1박스 50매 | 2박스 * 50매 = 100매,</span>
                                    </h4>
                                    <h4>
                                        <span>고효율 4중 구조, 2중 MB 필터, 기능성 코지지대, 귀가 편한 이어밴드, 유해물질 미검출.</span>
                                    </h4>
                                    <p>
                                        <span>₩34,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/mask4.jpg" alt="KF-94 보건용 마스크 100개 흰색 대형(L)">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>KF-94 보건용 마스크 100개 흰색 대형(L)</span>
                                    </strong>
                                    <h4>
                                        <span>KF94 마스크 대형 (L) 5개입 20봉 100개, 마스크 걸이 증정</span>
                                    </h4>
                                    <h4>
                                        <span>고효율 4중 구조, 2중 MB 필터, 기능성 코지지대, 귀가 편한 이어밴드, 유해물질 미검출.</span>
                                    </h4>
                                    <p>
                                        <span>₩32,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/mask5.jpeg" alt="KF-AD 덴탈형 비말차단 마스크 대형(L) 흰색 100개">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>KF-AD 덴탈형 비말차단 마스크 대형(L) 흰색 100개</span>
                                    </strong>
                                    <h4>
                                        <span>KF-AD 비말차단 마스크 대형(L) 흰색 100개 (50매 * 2박스)</span>
                                    </h4>
                                    <h4>
                                        <span>미세먼지, 바이러스, 황사, 꽃가루는 세 겹에 걸쳐 걸러주고, 멜트블라운이 장착되어 신선한 공기만 들어오게끔 되어 있습니다, 고효율 3중 레이어, MB필터 내장</span>
                                    </h4>
                                    <p>
                                        <span>₩17,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/mask6.jpg" alt="KF-AD 새부리형 2D 마스크 대형(L) 검은색박스">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>KF-AD 새부리형 2D 마스크 대형(L) 50개(50매 1세트 / 색상 선택)</span>
                                    </strong>
                                    <h4>
                                        <span>색상 : 검정색, 흰색</span>
                                    </h4>
                                    <h4>
                                        <span>미세먼지, 바이러스, 황사, 꽃가루는 세 겹에 걸쳐 걸러주고, 멜트블라운이 장착되어 신선한 공기만 들어오게끔 되어 있습니다, 고효율 3중 레이어, MB필터 내장</span>
                                    </h4>
                                    <p>
                                        <span>₩20,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/mask7.png" alt="KF-AD 입체형 비말차단 마스크 대형(L) 흰색 100개">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>KF-AD 입체형 비말차단 마스크 대형(L) 흰색 100개 (10매 씩 지퍼백 비닐포장)</span>
                                    </strong>
                                    <h4>
                                        <span>미세먼지, 바이러스, 황사, 꽃가루는 세 겹에 걸쳐 걸러주고, 멜트블라운이 장착되어 신선한 공기만 들어오게끔 되어 있습니다, 고효율 3중 레이어, MB필터 내장</span>
                                    </h4>
                                    <p>
                                        <span>₩19,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                    </ul>
                </article>
            </section>
