            <div class="top_ban_wrap">
                <div class="top_ban shopban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>들다방은 평등한 사회를 위해 함께합니다</span>
                        </strong>    
                        <p>
                            <span>쇼핑몰</span>
                        </p>        
                    </div>
                </div>
            </div>
            <section class="news bg">
                <article class="w1440">
                    <div class="subtitle">
                        <strong>
                            <span>2022 추석선물 특별 판매</span>
                        </strong>  
                    </div>
                    <div class="bannerbox">
                        <img src="../img/shop/event/ban1.jpg" alt="장애인인권투정현수막_장애인무상교육에대한내용">
                    </div>
                    <div class="subscribe_b">
                        <p>투쟁은 끝나지 않았다</p>
                        <p>장애인차별철폐투쟁이 어느때보다 뜨거운 2022년입니다.</p>
                        <p>진정한 차별 철폐를 위해
                            진보적 장애인운동에 추석선물 구입으로 힘을 보태주세요!</p>
                    </div>
                    <ul class="item_wrap">
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/item1.png" alt="강화사자밭쑥진액100% 박스선물">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>강화 사자발 약쑥 진액 100% 30포 </span>
                                    </strong>
                                    <h4>
                                        <span>단오에 베어 해풍과 그늘에서 3년 이상 숙성시킨 약쑥 참나무 장작 가마솥 중탕으로 만든 진액 (80ml 30포)</span>
                                    </h4>
                                    <h4>
                                        <span>배송비 : 3000원</span>
                                    </h4>
                                    <p>
                                        <span>₩42,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/item2.png" alt="강화사자밭쑥진액 박스선물">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>강화 사자발 약쑥 진액 100% 30포 </span>
                                    </strong>
                                    <h4>
                                        <span>가마솥 중탕 참나무 장작 3년 숙성 약쑥에 대추, 당귀 등 8가지 한약재를 첨가한 진액 (80ml 30포)</span>
                                    </h4>
                                    <h4>
                                        <span>배송비 : 3000원</span>
                                    </h4>
                                    <p>
                                        <span>₩38,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/item3.jpg" alt="수산물세트1호 고추장멸치 400g, 전복구이김 2봉, 볶음김자반 2봉.">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>수산물세트 1호</span>
                                    </strong>
                                    <h4>
                                        <span>고추장멸치 400g, 전복구이김 2봉, 볶음김자반 2봉</span>
                                    </h4>
                                    <h4>
                                        <span>배송비 : 4,000원 (10개 이상 구매시 무료)</span>
                                    </h4>
                                    <p>
                                        <span>₩29,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/item4.jpg" alt="완도 해풍건조 김에 전복가루 뿌려 구운 특허상품 6매 10봉.">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>전복구이 김세트</span>
                                    </strong>
                                    <h4>
                                        <span>완도 해풍건조 김에 전복가루 뿌려 구운 특허상품 6매 10봉</span>
                                    </h4>
                                    <h4>
                                        <span>배송비 : 4,000원 (10개 이상 구매시 무료)</span>
                                    </h4>
                                    <p>
                                        <span>₩29,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/event/joinitem.jpg" alt="회원만 구입 가능한 선물세트">
                                </div>
                                <div class="item_sub">
                                    <strong>
                                        <span>회원전용 선물세트</span>
                                    </strong>
                                    <h4>
                                        <span>기타외 14종</span>
                                    </h4>
                                    <h4>
                                        <span>로그인후 구입가능</span>
                                    </h4>
                                    <h4>
                                        <span>배송비 : 3,000원 (10개 이상 구매시 무료)</span>
                                    </h4>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                    </ul>
                </article>
            </section>
