            <div class="top_ban_wrap">
                <div class="top_ban shopban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>들다방은 평등한 사회를 위해 함께합니다</span>
                        </strong>    
                        <p>
                            <span>쇼핑몰</span>
                        </p>        
                    </div>
                </div>
            </div>
            <section class="news bg">
                <article class="w1440">
                    <div class="subtitle">
                        <strong>
                            <span>전국장애인야학협의회 온라인 후원</span>
                        </strong>  
                    </div>
                    <div class="anibox">                 
                        <div class="bannerbox">
                            <img src="../img/shop/event/ban4.jpg" alt="휠체어를 타고 계단을 오르지 못하는 사진">
                        </div>
                    </div>
                    <div class="subscribe_m">
                        <p>우리들은 비장애중심 능력주의 차별교육을 철폐하고 장애인의 평생교육권리를 실현하기 위해 함께 하는 조직, 사단법인 전국장애인야학협의회입니다.</p>
                        <p>2004년 10월에 출범한 ‘장애인 평생교육시설의 연합체’로서 전국장애인야학협의회는 중증장애인 성인들을 위한 교육과 지원을 구축하여 권리중심의 노동으로 연결하는 평생교육을 실천하며, ‘누구도 배제하지 않는’ 중증장애인의 자립과 지역사회 통합을 위한 길을 만들어가고 있습니다. 헌법 제 31조와 평생교육법의 존재에도 불구하고 전체 장애인의 55.2%가 중졸 이하의 학력이라는 사실과 장애인의 평생교육 참여율이 0.2%~1.6%에 불과하다는 사실은 장애인이 역사적이고 만성적인 교육에서의 소외와 배제를 경험하고 있다는 것을 의미합니다.</p>
                        <p>장애를 가졌다는 이유로 학교의 문턱조차 넘지 못했거나 중증의 장애로 인해 학교를 졸업한 이 후로도 함께 배움의 공간을 필요로 하는 많은 성인 장애인들이 있습니다.</p>
                    </div>
                    <div class="anibox">
                        <div class="bannerbox2">
                            <div class="surpportbox">
                                <p>후원하기</p>
                            </div>
                            <img src="../img/shop/event/ban5.jpg" alt="장애인차별에 대한 내용이 걸려 있는 종이">
                        </div>
                        <a href="" class="link"></a>
                    </div>
                    <div class="subtitle">
                        <strong>
                            <span>그 길에 함께 해주세요</span>
                        </strong>  
                    </div>
                    <div class="subscribe_m">
                        <p>전국장애인야학협의회는 전국 33개 장애인평생교육시설의 연합체로서 그동안 회원단체들과 투쟁과 활동을 열심히 해온 바 올해는 장애인평생교육법 제정을 코앞에 두고 있고 이를 잘 실행하기 위한 시행령 마련과 국비예산지원 투쟁 등을 위해 더 열심히 활동할 것입니다. 또 어디에서든 실현가능하고 지속가능한 장애인평생교육을 위한 온라인 교육과정과 시스템 구축을 위해서도 더욱 열심히 활동하고자 합니다. 공정하다는 착각아래 차별이 만연한 비장애중심 능력주의 교육을 철폐하고 누구도 소외시키지 않고 배재되지 않는 변혁가능한 실천교육담론을 만들어나가겠습니다.</p>
                        <p>전국장애인야학협의회의 지속가능한 활동을 위해 사무실 임대료와 상근활동가 활동비 모금에 함께 해주십시요.</p>
                        <p>전국장애인야학협의회 중앙사무국 운영은 정부로부터 보조금을 받지 않습니다. 오로지 회원단체의 회비와 후원회원들의 모금으로 활동하고 있습니다.</p>
                        <p>겨울 언 땅을 녹이고 만물을 피어나게 하는 봄에 씨앗부터 준비하여 가을 추수를 앞둔 노란 들판을 기다리는 농부의 마음으로 이른 봄부터 우리와 함께 걸어가 주시길 바랍니다.</p>
                    </div>
                </article>
            </section>
