            <div class="top_ban_wrap">
                <div class="top_ban shopban">
                    <div class="w1440 top_text">
                        <strong>
                            <span>들다방은 평등한 사회를 위해 함께합니다</span>
                        </strong>    
                        <p>
                            <span>쇼핑몰</span>
                        </p>        
                    </div>
                </div>
            </div>
            <section class="news bg">
                <article class="w1440">   
                    <div class="subtitle">
                        <strong>
                            <span>2021 노들야학 평등한 티셔츠</span>
                        </strong>  
                    </div>                 
                    <div class="bannerbox">
                        <img src="../img/shop/nodle/nodleban.jpg" alt="노들야학천막에서공부하는학생들">
                    </div>
                    <div class="subscribe_b">
                        <p>노들야학은 성인 중증 장애인들의 교육과 삶의 공동체 입니다.</p>
                        <p>노들야학은 매년 무상급식 기금 마련을 위한 후원 마당을 합니다.</p>
                        <p>학생 무상급식은 건강한 식사를 함께 나눌 수 있는 노들야학의 중요한 가치입니다.</p>
                        <p>매년 많은 분들의 연대와 참여를 통해 무상급식 비용을 마련하였습니다.</p>
                        <p>하지만 코로나로 많은 분들을 만나기 어려웠기에 방법을 마련하였습니다.</p>
                        <p>야학 학생들이 그린 그림으로 디자인 한 평등한 티셔츠를 통해
                            노들야학의 가치를 나누며 함께하고 싶습니다.</p>
                        <p>티셔츠 판매 수익은 모두 노들야학의 무상급식을 위해 사용 됩니다.</p>
                    </div>
                    <ul class="item_wrap">
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/nodle1.jpeg" alt="분홍라운드티_노들장애인야학_계단에_걸려있는사진">
                                </div>
                                <div class="item_sub">
                                    <strong class="nmb">
                                        <span>2021 노들장애인야학 평등한 티셔츠 분홍 라운드</span>
                                    </strong>
                                    <strong>
                                        <span> – 고지선님의 하얀 눈사람</span>
                                    </strong>
                                    <h4>
                                        <span>-사이즈 S(90) / L(100) / XL(105) / 2XL(110)</span>
                                    </h4>
                                    <h4>
                                        <span>-색상 : 분홍색</span>
                                    </h4>
                                    <h4>
                                        <span>-무료배송 (매주 수요일 오전 중 배송) </span>
                                    </h4>
                                    <p>
                                        <span>₩45,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/nodle2.jpeg" alt="노들장애인야학 계단에 걸려 있는 쥐색라운드티셔츠">
                                </div>
                                <div class="item_sub">
                                    <strong class="nmb">
                                        <span>2021 노들장애인야학 평등한 티셔츠 쥐색 라운드</span>
                                    </strong>
                                    <strong>
                                        <span> – 이봉규님의 빨간 물고기</span>
                                    </strong>
                                    <h4>
                                        <span>-사이즈 S(90) / L(100) / XL(105) / 2XL(110)</span>
                                    </h4>
                                    <h4>
                                        <span>-색상 : 먹색</span>
                                    </h4>
                                    <h4>
                                        <span>-무료배송 (매주 수요일 오전 중 배송) </span>
                                    </h4>
                                    <p>
                                        <span>₩45,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/nodle3.jpeg" alt="남색 후드(폭죽)이 계단에 걸려있다">
                                </div>
                                <div class="item_sub">
                                    <strong class="nmb">
                                        <span>2021 노들장애인야학 평등한 티셔츠 남색 후드</span>
                                    </strong>
                                    <strong>
                                        <span> – 김수진님의 폭죽</span>
                                    </strong>
                                    <h4>
                                        <span>-사이즈 S(90) / L(100) / XL(105) / 2XL(110)</span>
                                    </h4>
                                    <h4>
                                        <span>-색상 : 남색</span>
                                    </h4>
                                    <h4>
                                        <span>-무료배송 (매주 수요일 오전 중 배송) </span>
                                    </h4>
                                    <p>
                                        <span>₩45,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img ">
                                    <img src="../img/shop/nodle4.jpeg" alt="녹색 눈사람(흰색 후드) 계단에 걸려있다">
                                </div>
                                <div class="item_sub">
                                    <strong class="nmb">
                                        <span>2021 노들장애인야학 평등한 티셔츠 하얀 후드</span>
                                    </strong>
                                    <strong>
                                        <span> – 고지선님의 녹색눈사람</span>
                                    </strong>
                                    <h4>
                                        <span>-사이즈 S(90) / L(100) / XL(105) / 2XL(110)</span>
                                    </h4>
                                    <h4>
                                        <span>-색상 : 흰색</span>
                                    </h4>
                                    <h4>
                                        <span>-무료배송 (매주 수요일 오전 중 배송) </span>
                                    </h4>
                                    <p>
                                        <span>₩45,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img">
                                    <img src="../img/shop/nodle5.jpeg" alt="흰색반팔 티셔츠(그냥사람)이 난간에 걸려있다">
                                </div>
                                <div class="item_sub">
                                    <strong class="nmb">
                                        <span>2021 노들장애인야학 평등한 티셔츠 하얀 반팔</span>
                                    </strong>
                                    <strong>
                                        <span> – 정지민님의 그냥 사람</span>
                                    </strong>
                                    <h4>
                                        <span>-사이즈 S(90) / L(100) / XL(105) / 2XL(110)</span>
                                    </h4>
                                    <h4>
                                        <span>-색상 : 흰색</span>
                                    </h4>
                                    <h4>
                                        <span>-무료배송 (매주 수요일 오전 중 배송) </span>
                                    </h4>
                                    <p>
                                        <span>₩30,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                        <li>
                            <div class="item">
                                <div class="item_img ">
                                    <img src="../img/shop/nodle6.jpeg" alt="검정반팔티셔츠(사슬) 티셔츠 사진이 벽에 걸려있다">
                                </div>
                                <div class="item_sub">
                                    <strong class="nmb">
                                        <span>2021 노들장애인야학 평등한 티셔츠 검정 반팔</span>
                                    </strong>
                                    <strong>
                                        <span> – 이연옥님의 사슬</span>
                                    </strong>
                                    <h4>
                                        <span>-사이즈 S(90) / L(100) / XL(105) / 2XL(110)</span>
                                    </h4>
                                    <h4>
                                        <span>-색상 : 검정색</span>
                                    </h4>
                                    <h4>
                                        <span>-무료배송 (매주 수요일 오전 중 배송) </span>
                                    </h4>
                                    <p>
                                        <span>₩30,000</span>
                                    </p>
                                </div>
                            </div>
                            <a class="link" href=""></a>
                        </li>
                    </ul>
                </article>
            </section>
