    <div class="left_gnbWrap">
        <div class="mclose">
            <span>X</span>
        </div>
        <ul class="left_gnb">
            <li><a id="mhomen"  href="/">홈</a></li>
            <li>
                <a id="mintron" href="javascript:myF('/intro')" class="a">소개</a>
                <ul class="msubnav">
                    <li><a href="javascript:myF('/intro')">사회적기업 들다방</a></li>
                    <li><a href="javascript:myF('/intro_coffee')">들다방 카페</a></li>
                    <li><a href="javascript:myF('/intro_food')">들다방 식당</a></li>
                    <li><a href="javascript:myF('/intro_come')">오시는길</a></li>
                </ul>
            </li>
            <li>
                <a id="mqnan" href="javascript:myF('/qna')" class="a">문의</a>
                <ul class="msubnav">
                    <li><a href="javascript:myF('/qna')">문의하기</a></li>
                    <li><a href="javascript:myF('/qna_q')">자주묻는질문</a></li>
                </ul>
            </li>
            <li>
                <a id="mnewsn" href="javascript:myF('/news')">소식</a>
            </li>
            <li>
                <a id="mshopn" href="javascript:myF('/shop')" class="a">쇼핑몰</a>
                <ul class="msubnav">
                    <li><a href="javascript:myF('/shop')">추석특판</a></li>
                    <li><a href="javascript:myF('/shop_nodle')">노들장애인야학 굿즈</a></li>
                    <li><a href="javascript:myF('/shop_deul')">들다방 굿즈</a></li>
                    <li><a href="javascript:myF('/shop_mask')">문화예술판마스크</a></li>
                    <li><a href="javascript:myF('/shop_surport')">후원</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="w1720 header_t">
        <a class="logo" href="/">
            <img src="./img/logo/logo.png">
        </a>
        <div class="navi_wrap">
            <ul class="navi">
                <li><a id="homen"  href="/">홈</a></li>
                <li>
                    <a id="intron" href="javascript:myF('/intro')">소개</a>
                    <ul class="subnav">
                        <li><a href="javascript:myF('/intro')">사회적기업 들다방</a></li>
                        <li><a href="javascript:myF('/intro_coffee')">들다방 카페</a></li>
                        <li><a href="javascript:myF('/intro_food')">들다방 식당</a></li>
                        <li><a href="javascript:myF('/intro_come')">오시는길</a></li>
                    </ul>
                </li>
                <li><a id="qnan" href="javascript:myF('/qna')">문의</a>
                    <ul class="subnav">
                        <li><a href="javascript:myF('/qna')">문의하기</a></li>
                        <li><a href="javascript:myF('/qna_q')">자주묻는질문</a></li>
                    </ul>
                </li>
                <li>
                    <a id="newsn" href="javascript:myF('/news')">소식</a>
                </li>
                <li>
                    <a id="shopn" href="javascript:myF('/shop')">쇼핑몰</a>
                    <ul class="subnav">
                        <li><a href="javascript:myF('/shop')">추석특판</a></li>
                        <li><a href="javascript:myF('/shop_nodle')">노들장애인야학 굿즈</a></li>
                        <li><a href="javascript:myF('/shop_deul')">들다방 굿즈</a></li>
                        <li><a href="javascript:myF('/shop_mask')">문화예술판마스크</a></li>
                        <li><a href="javascript:myF('/shop_surport')">후원</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="btn_mobile">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>