            <div class="pg pg1">
                <div class="w1200 pg_wrap">
                    <div class="imgwrap">
                        <img src="./img/main/main_new-1.gif">
                    </div>
                    <div class="textwrap">
                        <strong>
                            <span>들다방은 밥과 커피, 다양한 문화활동으로</span>
                        </strong>    
                        <strong>
                            <span>더 많은 장애인이 노동하고, 투쟁하고, 쉬면서 소통하는</span>
                        </strong>        
                        <strong>    
                            <span>복합문화공간이 되고자 합니다.</span>
                        </strong>    
                    </div>
                </div>
            </div>
            <div class="pg pg2">
                <div class="w1200 pg_wrap">
                    <div class="center_wrap">
                        <div class="subtitle">
                            <strong>
                                <span>들다방에서 하는 일</span>
                            </strong>    
                        </div>
                        <div class="list_wrap">
                          <ul class="m_list_wrap">
                            <li><a href="">
                                <div class="list_t">
                                    <p>식사제공</p>
                                </div>
                                <div class="list_m">
                                    <span></span>
                                </div>
                            </a></li>
                            <li><a href="">
                                <div class="list_t">
                                    <p>카페운영</p>
                                </div>
                                <div class="list_m">
                                    <span></span>
                                </div>
                            </a></li>
                            <li><a href="">
                                <div class="list_t">
                                    <p>직무교육지원</p>
                                </div>
                                <div class="list_m">
                                    <span></span>
                                </div>
                            </a></li>
                            <li><a href="">
                                <div class="list_t">
                                    <p>케이터링</p>
                                </div>
                                <div class="list_m">
                                    <span></span>
                                </div>
                            </a></li>
                            <li><a href="">
                                <div class="list_t">
                                    <p>문화기획</p>
                                </div>
                                <div class="list_m">
                                    <span></span>
                                </div>
                            </a></li>
                          </ul>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="pg pg3">
                <div class="pg_wrap">
                    <div class="center_wrap">
                        <div class="w1200 list_wrap">
                            <div class="subtitle">
                                <strong>
                                    <span>들다방 주요기사</span>
                                </strong>   
                            </div> 
                            <ul class="fwrap">
                                <figure class="newswrap">
                                    <div class="image"><img src="./img/main/news1.jpg" alt="차별금지법" /></div>
                                    <figcaption>
                                        <div class="date"><span class="day">23</span><span class="month">May</span></div>
                                        <h3>[언론 기사] 영남대학교 영대신문 차별금지법 기사에 실린 들다방</h3>
                                        <p>
                                            「발의 15년째, 또다시 화두에 오른 차별금지법 」 발의 15년째, 또다시 화두에 오른 차별금지법[...]
                                        </p>
                                    </figcaption>
                                   <a href="#"></a>
                                </figure>
                                <figure class="newswrap">
                                    <div class="image"><img src="./img/main/news2.jpg" alt="직무교육" /></div>
                                    <figcaption>
                                        <div class="date"><span class="day">28</span><span class="month">May</span></div>
                                        <h3>[직무 교육 지원] 들다방 카페 체험 및 바리스타 직무 교육</h3>
                                        <p>
                                            들다방은 다양한 일자리를 창출해 사회적 소수자들이 노동의 권리를 실현하는 일터를 만들고 있습니다[...]
                                        </p>
                                    </figcaption>
                                   <a href="#"></a>
                                </figure>
                                <figure class="newswrap">
                                    <div class="image"><img src="./img/main/news3.jpg" alt="직무교육" /></div>
                                    <figcaption>
                                        <div class="date"><span class="day">30</span><span class="month">Dec</span></div>
                                        <h3>[영상] <세상을 바꾸는 특별한 카페 '비티 앤 보우 커피Bitty & Beau's Coffee'></h3>
                                        <p>
                                            2016년은 들다방이 설립된 연도입니다. 노들장애인야학 학생들의 안정적인 식사를 공급하고, 장애인을 포함한 사회취약계층이 일터의 주체가 될[...]
                                        </p>
                                    </figcaption>
                                   <a href="#"></a>
                                </figure>
                                <figure class="newswrap">
                                    <div class="image"><img src="./img/main/news5.jpg" alt="직무교육" /></div>
                                    <figcaption>
                                        <div class="date"><span class="day">18</span><span class="month">Jan</span></div>
                                        <h3>[영상] 2021 종로 사회적기업을 만나다_들다방 편</h3>
                                        <p>
                                            https://www.youtube.com/watch?v=V7uHr4H9ZHk   들다방은 예비사회적기업 기간을 거쳐, 2021년 9월 사회적기업 정식 인준을 받았습니다.[...]
                                        </p>
                                    </figcaption>
                                   <a href="#"></a>
                                </figure>
                                <figure class="newswrap">
                                    <div class="image"><img src="./img/main/news4.jpg" alt="직무교육" /></div>
                                    <figcaption>
                                        <div class="date"><span class="day">5</span><span class="month">Mar</span></div>
                                        <h3>1회용컵 사용 줄이고 다회용컵 사용하는 들다방 카페(보틀클럽 제로웨이스트 리유저블 리턴미컵)</h3>
                                        <p>
                                            들다방 카페에 비치된 여러 종류의 컵들 들다방 카페는 여러 용도와 장애를 고려해 다양한 컵이 준비되어 있어요.[...]
                                        </p>
                                    </figcaption>
                                   <a href="#"></a>
                                </figure>
                                <figure class="newswrap">
                                    <div class="image"><img src="./img/main/news6.jpg" alt="직무교육" /></div>
                                    <figcaption>
                                        <div class="date"><span class="day">14</span><span class="month">Jan</span></div>
                                        <h3>2022년 들다방 홈페이지/쇼핑몰 웹접근성 2년 연속 품질 인증</h3>
                                        <p>
                                            들다방 홈페이지에 표기된 '노란들판을 일구는 농부들(들다방 자매단체)'와 웹접근성 인증 마크 2022년 들다방 쇼핑몰 웹접근성 인증서[...]
                                        </p>
                                    </figcaption>
                                   <a href="#"></a>
                                </figure>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pg pg4">
                <div class="w1200 pg_wrap">
                    <div class="textwrap">
                        <strong>
                            <span>들다방은 장애인과 비장애인이 </span>
                        </strong>    
                        <strong>
                            <span>함께 일하는 예비 사회적 기업입니다.</span>
                        </strong>   
                        <strong>
                            <span>평등한 사회를 위해 함께 하고 있습니다.</span>
                        </strong>         
                    </div>
                    <ul class="divwrapper">
                        <li class="divwrap  mainban1">
                            <a class="divbox" href="">
                            </a>
                            <div class="divtext">
                                <p>
                                    <span>생활의 편안함과 </span>
                                </p>
                                 <p>
                                     <span>안식을 지원합니다 </span>
                                 </p>
                                 <p>
                                     <span>들다방 쇼핑몰</span>
                                 </p>
                                 <div class="btn_m">
                                     <a href="">바로가기</a>
                                 </div>
                            </div>
                        </li>
                        <li class="divwrap  mainban2">
                            <a class="divbox" href="">
                            </a>
                            <div class="divtext">
                                <p>
                                    <span>당신의 존재만으로 </span>
                                </p>
                                <p>
                                    <span>당신의 삶을 응원합니다</span>
                                </p>
                                <p>
                                    <span>들다방 굿즈</span>
                                </p>
                                <div class="btn_m">
                                    <a href="">바로가기</a>
                                </div>
                            </div>
                        </li>
                        <li class="divwrap  mainban3">
                            <a class="divbox" href="">
                            </a>
                            <div class="divtext">
                                <p>
                                    <span>차별을 철폐하고</span>
                                </p>
                                <p>
                                    <span>권리를 실현합니다</span>
                                </p>
                                <p>
                                    <span>전국장애인야학협의회 모금</span>
                                </p>
                                <div class="btn_m">
                                    <a href="">바로가기</a>
                                </div>
                            </div>
                        </li>
                    </ul>                            
                </div>
            </div>
            <div class="pg pg5">
                <div class="pg_wrap">
                    <div class="w1440 textwrap">
                        <strong>
                            <span>들다방은 밥과 커피 그리고 다양한 문화활동으로 </span>
                        </strong>    
                        <strong>
                            <span>더 많은 장애인이 노동하고, 투쟁하고, </span>
                        </strong>   
                        <strong>
                            <span>쉬면서 소통하는 복합문화공간이 되기를 바랍니다.</span>
                        </strong>         
                    </div>                    
                </div>
                <div class="menuwrap">
                    <div class="menulist"></div>
                </div>
            </div>
            <div class="pg pg6">
                <div class="w1200 pg_wrap">
                    <div class="subtitle">
                        <strong>
                            <span>오늘 하루도, 가볍게</span>
                        </strong>   
                        <strong>
                            <span>#들다방</span>
                        </strong>   
                    </div> 
                    <ul class="insta_wrap">
                        <li>
                            <a href="https://www.instagram.com/p/CeiXnL3JLiz/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta1.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/CeiV5NIJj8P/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta2.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/CckoSirp3f8/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta3.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/Ccj_UQbJDVq/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta4.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/CcjwlYmJb2T/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta5.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/CcM6BvSphDc/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta6.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/CcCgoQNJp3G/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta7.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/Cb9qexsJeNj/?utm_source=ig_web_copy_link" target="_blank">
                                <img src="./img/main/insta/insta8.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        